
.container-total{
  display: flex;
}

.container-total header{
  width: 50%;
}


#nav{
  max-width: 900px;
}

.text-opening h1{
  font-size: 45px;
}



.navbar-list{
  align-items: center;
}


.channel-opening {
    background-image:linear-gradient(0deg, rgba(0,0,0,0.4)0%, rgba(0,0,0,0.5)100%), url(./img/channel-partner/channelPartner.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

/* form con captcha */

.container-capcha {
    background-color: #ffffff;
    border-radius: 0.6em;
  }
  .wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 1em 0;
  }
  canvas {
    border: 1px solid #000000;
    border-radius: 0.4em;
  }
  button#reload-button {
    font-size: 26px;
    width: 4.6em;
    background-color: #8052ec;
    border: none;
    border-radius: 0.4em;
    color: #ffffff;
  }
  input[type="text"] {
    font-family: "Roboto Mono", monospace;
    font-size: 1.05em;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 0.4em;
  }
  button#submit-button {
    width: 50%;
    margin: auto;
    background-color: #8052ec;
    color: #ffffff;
    font-size: 1.5em;
    border: none;
    margin-top: 1em;
    padding: 0.8em 0;
    border-radius: 0.4em;
    font-family: "Roboto Mono", monospace;
  }


  /* form */

  .container {
    /* border: 3px solid red; */
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }
  
  :root {
    --cfondo: rgb(207, 211, 212);
    --cfondoForm1: rgba(1, 80, 88, 0.39);
    --cfondoForm2: rgb(129, 193, 202);
    --cnegro: black;
    --ctexto: rgb(14, 81, 88);
    --ctextoDark: rgb(1, 35, 39);
    --cblanco: white;
    --error: rgb(184, 31, 31);
  }
  
  [type="checkbox"] {
    display: none;
  }
  
  [type="checkbox"]:checked + label::before {
    background: var(--cnegro);
    transition: 0.5s;
    transform: rotate(180deg);
  }
  
  [type="checkbox"]:checked + label {
    color: var(--cnegro);
  }
  

  /* form-ema */

  .container-form{
    margin: auto;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 5px; /* Agrega esquinas redondeadas */
    box-shadow: 0 2px 4px rgba(208, 17, 17, 0.5); /* Sombra más pronunciada */
    padding: 20px;
  }

  #form-channelPartner{
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
  }

  .form-group{
    width: 100%;
    max-width: 350px;
    padding: 0px 20px;
    margin: auto;
  }

  .container-form h2{
    text-align: center;
    margin-bottom: 25px;
  }

